---
import { SITE } from "@config";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

import Base from "@layouts/Base.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ScrollUp from "@components/ScrollUp.astro";

import Section from "@components/Section.astro";
import SocialsDesktop from "@components/SocialsDesktop.astro";

import Skill from "@components/Skill.astro";
import LeftMilestone from "@components/milestone/LeftMilestone.astro";
import RightMilestone from "@components/milestone/RightMilestone.astro";
import ProjectCard from "@components/ProjectCard.astro";
import LinkButton from "@components/LinkButton.astro";

const featuredProjects = await getCollection(
  "projects",
  ({ data, id }) => data.featured && id.startsWith("en/")
);
---

<Base>
  <Header />
  <main id="main-content" class="mx-6 flex flex-col items-center sm:mx-24">
    <SocialsDesktop />
    <section class="flex min-h-screen flex-col justify-center">
      <div class="mb-24 sm:mb-60">
        <p
          class="mb-4 text-center text-xl font-light text-skin-accent sm:mb-5 sm:text-2xl"
        >
          Greetings, I'm
        </p>
        <h1
          class="mb-5 text-center text-4xl font-semibold text-skin-base sm:mb-8 sm:text-6xl"
        >
          {SITE.author}
        </h1>
        <p class="text-center text-lg text-skin-base sm:text-2xl">
          I design and build software products
        </p>
      </div>
    </section>
    <Section title="Hi, I'm Lorenzo">
      <div class="max-w-4xl sm:ml-12">
        <p
          class="mb-4 text-center text-lg text-skin-base sm:mb-6 sm:text-left sm:text-xl"
        >
          I began my programming journey in middle school, driven by curiosity.
          Subsequently, I learned about networking and web development in high
          school, mastering <b>Django </b>and <b>Bootstrap</b>.<br />
          Moving to this day, I'm enrolled in a <b>university degree</b>,
          seeking to expand my understanding of AI and become a data scientist.<br
          />
          I'm genuinely curious, capable of teamwork and willful to improve along
          my experiences.
        </p>
      </div>
    </Section>
    <Section title="Skills">
      <div class="grid gap-4 sm:mx-20 lg:grid-cols-2 2xl:grid-cols-3">
        <Skill
          id="backend"
          name="Backend developer"
          icon="lucide:database"
          items={["Linux", "Django", "Python", "Java", "SQL"]}
        />
        <Skill
          id="frontend"
          name="Frontend developer"
          icon="lucide:layout-template"
          items={[
            "HTML",
            "CSS",
            "JavaScript",
            "TypeScript",
            "TailwindCSS",
            "Bootstrap",
          ]}
        />
        <Skill
          id="dev_ops"
          name="DevOps"
          icon="lucide:container"
          items={["CI/CD", "Docker", "Git", "GitHub", "GitLab"]}
        />
        <Skill
          id="gamedev"
          name="Game development"
          icon="lucide:gamepad-2"
          items={["Godot", "C++", "Pygame"]}
        />
        <Skill
          id="machine_learning"
          name="Machine Learning"
          icon="lucide:brain-circuit"
          items={["Pandas", "NumPy", "SKLearn", "RDF", "SPARQL", "Python"]}
        />
        <Skill
          id="scrum"
          name="Scrum"
          icon="lucide:users"
          items={["Product owner", "Scrum master"]}
        />
      </div>
    </Section>
    <Section title="Journey">
      <div
        class="grid w-full max-w-xs grid-cols-journey gap-4 md:max-w-2xl md:grid-cols-journey-md"
      >
        <LeftMilestone
          title="IT Technitian"
          location="ITT Ettore Molinari"
          date="2017 - 2019"
        />
        <RightMilestone
          title="Exchange student"
          location="Denmark"
          date="2019 - 2020"
        />
        <LeftMilestone
          title="IT Technitian"
          location="ITT Ettore Molinari"
          date="2020 - 2021"
        />
        <RightMilestone
          title="AI Doctor"
          location="University of Pavia"
          date="2021 - now"
          last
        />
      </div>
    </Section>
    <Section title="Featured projects">
      <div
        class="mb-6 grid w-full max-w-xs grid-cols-1 gap-4 sm:mb-8 xl:max-w-xl xl:grid-cols-2 2xl:max-w-6xl 2xl:grid-cols-3"
      >
        {
          featuredProjects.map(({ collection, data, slug }) => (
            <ProjectCard
              href={getRelativeLocaleUrl(
                "en",
                `${collection}/${slug.slice(3)}`
              )}
              title={data.title}
              description={data.description}
              tags={data.tags}
            />
          ))
        }
      </div>
      <LinkButton
        text="See more"
        href={getRelativeLocaleUrl("en", "/projects")}
        ariaLabel="See more projects"
      />
    </Section>
    <Section title="Contact">
      <p
        class="mb-8 text-center text-lg text-skin-base sm:text-left sm:text-xl"
      >
        Are you interested in building something together?
      </p>
      <LinkButton
        text="Get in touch"
        href={`mailto:${SITE.mail}`}
        ariaLabel="Get in touch"
      />
    </Section>
  </main>
  <Footer />
  <ScrollUp />
</Base>
