---
import { SITE, SOCIALS } from "@config";
import LinkButton from "./LinkButton.astro";

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-background mb-12 flex h-24 w-full flex-col justify-center p-2 sm:mb-0 sm:h-16"
>
  <div class="mx-auto mb-3 flex flex-row justify-center gap-4 sm:hidden">
    {
      SOCIALS.map(social => (
        <LinkButton
          href={social.href}
          aria-label={social.linkTitle}
          icon={social.icon}
        />
      ))
    }
  </div>
  <p class="text-text mx-auto">&copy; {currentYear} {SITE.author}</p>
</footer>
