---
import { SITE, SOCIALS } from "@config";
import SocialButton from "./SocialButton.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <div>
    {
      SOCIALS.map(social => (
        <SocialButton
          href={social.href}
          ariaLabel={social.linkTitle}
          icon={social.icon}
        />
      ))
    }
  </div>
  <p>&copy; {currentYear} {SITE.author}</p>
</footer>

<style>
  footer {
    @apply flex h-24 w-full flex-col justify-center bg-skin-fill p-2 sm:h-16;
  }
  div {
    @apply mx-auto mb-3 flex flex-row justify-center gap-3 sm:hidden;
  }
  p {
    @apply mx-auto text-skin-base;
  }
</style>
