---
import { Icon } from "astro-icon/components";

export interface Props {
  href: string;
  title: string;
  description: string;
  tags?: string[];
  date: Date;
}

const { href, title, description, tags, date } = Astro.props;
---

<div class="project-container">
  <div class="title-container">
    <a href={href}>
      <h3>{title}</h3>
    </a>
  </div>
  <p>{description}</p>
  <div class="flex flex-col items-center gap-3">
    <ul>
      {tags?.map(tag => <li>{tag}</li>)}
    </ul>
    <div class="info-container">
      <Icon class="w-5 text-skin-base sm:w-8" name="lucide:calendar-days" />
      <p>{date.getFullYear()}</p>
    </div>
  </div>
</div>

<style>
  .project-container {
    @apply flex h-fit w-fit max-w-screen-xl flex-col gap-3 rounded-xl bg-skin-card p-4 shadow-xl;
  }
  .title-container {
    @apply flex flex-row justify-center;
  }
  .project-container h3 {
    @apply m-1 text-xl font-bold text-skin-base underline underline-offset-4 duration-75 hover:text-skin-accent sm:text-2xl;
  }
  .project-container p {
    @apply text-base text-skin-base sm:text-lg;
  }
  .project-container ul {
    @apply flex flex-row gap-4 text-sm;
  }
  .project-container li {
    @apply rounded-xl bg-skin-fill px-3 py-1 text-sm text-skin-base sm:text-base;
  }
  .links-container {
    @apply flex flex-row items-center justify-center gap-4;
  }
  img {
    @apply h-20 w-20;
  }

  .info-container {
    @apply flex flex-row items-center gap-2;
  }
  .info-container p {
    @apply text-skin-base sm:text-lg;
  }
</style>
