---
import Milestone from "./Milestone.astro";

export interface Props {
  title: string;
  location: string;
  date: string;
  last?: boolean;
}

const { title, location, date, last = false } = Astro.props;
---

{
  !last ? (
    <>
      <div class="xl:hidden">
        <span class="milestone-dot" />
        <span class="milestone-bar" />
      </div>
      <Milestone title={title} location={location} date={date} />
      <div class="hidden xl:block">
        <span class="milestone-dot" />
        <span class="milestone-bar" />
      </div>
    </>
  ) : (
    <>
      <div class="xl:hidden">
        <span class="milestone-dot" />
      </div>
      <Milestone title={title} location={location} date={date} />
      <div class="hidden xl:block">
        <span class="milestone-dot" />
      </div>
    </>
  )
}
