---
import { SITE } from "@config";
import { useTranslation } from "@utils/i18n";
import { slugifyStr } from "@utils/slugify";

import Base from "./Base.astro";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ScrollUp from "@components/ScrollUp.astro";
import SocialButton from "@components/SocialButton.astro";

import type { CollectionEntry } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Icon } from "astro-icon/components";

export interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const {
  title,
  description,
  tags,
  releaseDate,
  websiteLink,
  gitlabLink,
  githubLink,
  ogImage,
  canonicalURL,
} = project.data;

const { Content } = await project.render();

const ogImageUrl = typeof ogImage === "string" ? ogImage : ogImage?.src;
const ogUrl = new URL(
  ogImageUrl ??
    getRelativeLocaleUrl(
      "en", // TODO adjust for italian
      `${project.collection}/${project.slug.slice(3)}.png`
    ),
  Astro.url.origin
).href;

const baseProps = {
  title: `${title} | ${SITE.title}`,
  author: `${SITE.author}`,
  description,
  ogImage: ogUrl,
  canonicalURL,
  releaseDate,
};

const t = useTranslation(Astro.currentLocale);
---

<Base {...baseProps}>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="(() => (history.length === 1) ? window.location = '/' : history.back())()"
    >
      <Icon name="lucide:chevron-left" />
      <span>{t("project.back")}</span>
    </button>
  </div>
  <main id="main-content">
    <h1 transition:name={slugifyStr(title)} class="post-title">{title}</h1>
    <div class="mt-4 flex flex-col items-center">
      <ul>
        {tags?.map(tag => <li>{tag}</li>)}
      </ul>
    </div>
    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
    {
      (websiteLink || gitlabLink || githubLink) && (
        <div class="mt-8 flex flex-col items-center gap-3">
          <p>{t("project.more")}</p>
          <div class="links-container">
            {websiteLink && (
              <SocialButton
                href={websiteLink}
                ariaLabel={t("project.website")}
                icon="lucide:link"
              />
            )}
            {gitlabLink && (
              <SocialButton
                href={gitlabLink}
                ariaLabel={t("project.gitlab")}
                icon="lucide:gitlab"
              />
            )}
            {githubLink && (
              <SocialButton
                href={githubLink}
                ariaLabel={t("project.github")}
                icon="lucide:github"
              />
            )}
          </div>
        </div>
      )
    }
  </main>
  <Footer />
  <ScrollUp />
</Base>

<style>
  main {
    @apply mx-auto w-full max-w-3xl flex-1 flex-col px-4 pb-12;
  }
  ul {
    @apply flex flex-row gap-4 text-sm;
  }
  li {
    @apply rounded-xl bg-skin-card px-3 py-1 text-sm text-skin-base sm:text-base;
  }
  p {
    @apply text-base text-skin-base sm:text-lg;
  }

  .post-title {
    @apply text-center text-3xl font-semibold text-skin-accent;
  }
  .links-container {
    @apply flex flex-row gap-4;
  }
</style>
